/* ------ Devices dimensions ------*/
$pc-size-min: 1024px;
$pc-size-max: 1440px;

/* ------ Font styles ------*/
$ibm-sans: 'IBM Plex Sans', sans-serif;
$ibm-mono: 'IBM Plex Mono', monospace;

/* ------ Font sizes------*/
$mb-main-font-size: 14px;
$pc-main-font-size: 16px;
$mb-header-font-size: 36px;
$mb-button-font-size: 16px;
$pc-header-font-size: 64px;
$pc-subheader-font-size: 48px;
$pc-button-font-size: 18px;
$subheader-font-size: 24px;
$subsubheader-font-size: 16px;

/* ------ Line Heights ------*/
$mb-main-line-height: 22px;
$pc-main-line-height: 24px;
$mb-header-line-height: 42px;
$pc-header-line-height: 84px;
$pc-subheader-line-height: 62px;

/* ------ Colors ------*/
$font-color: #060A24;
$menu-color: rgba(#0000EC, 1);
$menu-font-color: rgba(white, 1)

