@import "_variables.scss";

body{
    color: $font-color;
}

.wrap-header {
    position: relative;
    width: 100vw;
    height: 44px;
    z-index: 3;
    .menu-nav {
        clear: both;
        list-style: none;
        overflow: hidden;
        background-color: $menu-color;
        max-height: 0;
        transition: max-height .2s ease-out;
        li {
            line-height: 28px;
            a {
                display: block;
                padding-bottom: 12px;
                padding-top: 12px;
                font-family: $ibm-mono;
                text-transform: uppercase;
                color: $menu-font-color;
                text-decoration: none;
                &:hover {
                    background-color: rgba(white, 1);
                    color: $menu-color;
                }
            }
            .episodios {
                padding-top: 16px;
            }
            .topicos {
                padding-bottom: 24px;
            }
        }
    }

    .logo {
        display: block;
        float: left;
        height: 24px;
        width: 24px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 16px;   
    }

    .menu-icon {
        position: relative;
        float: right;
        margin-right: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        .navicon {
            transition: background .2 ease-out;
            &::after {
                font-family: FontAwesome;
                content: "\f0c9";
                font-size: 18px;
                transition: all .2s ease-out;
            }
        }
    }

    .menu-btn {
        display: none;
        &:checked ~ .menu-nav {
            max-height: 224px; //corresponde a la transition hecha previamente en .menu-nav
        }
        &:checked ~ .menu-icon .navicon {
            &::after {
                font-family: FontAwesome;
                content: "\f00d";
                font-size: 18px;
                transition: all .2s ease-out;
            }
        }
    }
}

@media all and (min-width: $pc-size-min){
    .wrap-header{
        height: 80px;
        .menu-nav{
            clear: none;
            float: right;
            max-height: none;
            background-color: transparent;
            li {
                float: left;
                a {
                    padding-bottom: 26px;
                    padding-top: 26px;
                    padding-right: 24px;
                    padding-left: 24px;
                    color: $font-color;
                    &:hover {
                        color: #00F3BB;
                        text-decoration: line-through;
                    }
                    &:active {
                        color: rgba($color: #060A24, $alpha: 0.56);
                        text-decoration: line-through;
                    }
                }
                .episodios {
                    padding-top: 26px;
                }
                .topicos {
                    padding-bottom: 26px;
                    padding-right: 100px;
                }
            }
        }
        .menu-icon{
            display: none;
        }
        .logo {
            height: 36px;
            width: 36px;
            margin-left: 100px;
            margin-top: 22px;
            margin-bottom: 22px;
        }
    }                   
}

.wrap-maincontent {
    width: 100vw;
    margin-top: 29px;
    margin-bottom: 24px;
    position: relative;

    .main-title {
        margin-left: 5vw;
        margin-right: 5vw;
        display: inline-block;
        font-size: 0px;
        color: $font-color;
        font-family: $ibm-sans;

        .title-1, .title-2, .tachado, .title-dot{
            font-size: $mb-header-font-size;
            line-height: $mb-header-line-height;
        }
        .tachado {
            text-decoration: line-through;
            &::after{
                content: "\A";
                white-space: pre;
            }
        }
    }
    .main-description {
        margin-left: 5vw;
        margin-right: 5vw;
        max-width: 90vw;
        font-family: $ibm-mono;
        margin-top: 16px;
        line-height: $mb-main-line-height;
        font-size: $mb-main-font-size;
    }
    .button-conocemas {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 36px;
        height: 48px;
        width: 90vw;
        text-align: center;
        text-transform: uppercase;
        background-color: #00F3BB;
        font-family: $ibm-mono;
        font-weight: 500;
        font-size: $mb-button-font-size;
        line-height: 48px;
        cursor: pointer;   
    }
}

@media all and (min-width: $pc-size-min){
    .wrap-maincontent {
        margin-bottom: 5px;
        margin-top: 120px;
        .main-title {
            margin-left: 100px;
            @media all and (min-width: 1280px){
                margin-left: 200px;
            }
            display: inline-block;
            .title-1, .title-2, .tachado, .title-dot{
                text-align: center;
                margin-right: auto;
                margin-left: auto;
                font-size: 64px; 
                line-height: $pc-header-line-height;
            }
            .tachado {
                &::after{
                    content: "";
                }
            }
            .title-2{
                white-space: pre-wrap;
            } 
            .title-dot{ 
                color: #0000EC;
            }
        }
        .main-description {
            font-size: $pc-main-font-size;
            line-height: $pc-main-line-height;
            width: 628px;
            margin-top: 0px;
            text-align: justify;
            text-align-last: justify;
            margin-left: 100px;
            @media all and (min-width: 1280px){
                margin-left: 200px;
            }
            p {
                display: none;
            }
            &::after{
                content: 'El portal de podcasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días.';
            }
        }
        .button-conocemas {
            width: 226px;
            height: 56px;
            line-height: 56px;
            font-size: $pc-button-font-size;
            margin-left: 100px;
            @media all and (min-width: 1280px){
                margin-left: 200px;
            }
            &:hover {
                background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
            }
        }
    }
}

.wrap-episodios {
    width: 100vw;
    height: 1203.5px;
    display: block;
    position: relative;
    .parallelogram {
        position: absolute;
        width: 100vw;
        height: 100%;
        overflow: hidden;
        transform-origin: top left;
        transform: translate(0px, 8.75vw) skewY(-5deg); //@TODO: los 28px (8.75vw) los saque de hacer tan(5)=x/320
        white-space: nowrap;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);

        .content-container {
            overflow: hidden;
            transform: skewY(5deg);
            padding-top: 15.625vw; //al padding del template le reste la mitad de la traslación (64-28/2)
            #sec-episodios {
                margin-left: 5%;
                color: white;
                font-family: $ibm-sans;
                line-height: $mb-header-line-height;
                font-size: $mb-header-font-size;
            }
            .podcasts{
                margin-top: 21px;
                margin-left: 11px;
                margin-right: 11px;
                .pods-grid {
                    display: grid;
                    grid-template-columns:repeat(1, 1fr);
                    grid-column-gap: 11px;
                    grid-row-gap: 11px;
                    width: 100%;
                }
            }
        }
    }
}

@media all and (min-width: $pc-size-min){
    .wrap-episodios {
        max-height: 911px;
        .parallelogram{
            max-height: 911px;
            .content-container {
                padding-top: 8.5vw;
                #sec-episodios {
                    line-height: $pc-subheader-line-height;
                    font-size: $pc-subheader-font-size;
                    margin-left: 14vw;
                    @media all and (min-width: 1280px){
                        margin-left: 200px;
                    }
                }
                .podcasts{
                    margin-top: 26px;
                    margin-left: 100px;
                    margin-right: 100px;
                    .pods-grid {
                        grid-template-columns:repeat(2, 1fr);
                        grid-column-gap: 72px;
                        grid-row-gap: 72px;
                    }
                }
            }
        }  
    }
}

.sec-nosotros{
    .phone-outer {
        display: block;
        position: relative;
        width: 100vw;
        //height: auto;
        overflow: visible;
        margin-top: -67.5px;
        @media all and (min-width: 600px){ //breakpoint for tablets
            margin-top: 0;
        }
        .phone-inner {
            display: inline-block;
            position: relative;
            right: -50%;
            .phone-image {
                left: -50%;
                position: relative;
                width: 340px;
            }
        }
    }
    .dedonde-cont {
        display: block;
        margin-top: 27px;
        .sec-dedonde {
            margin-left: 5vw;
            margin-right: 5vw;
            font-size: $mb-header-font-size;
            font-family: $ibm-sans;
            line-height: $mb-header-line-height;
            color: $font-color;
        }
        .dedonde-text {
            margin-top: 8px;
            margin-left: 5vw;
            margin-right: 5vw;
            font-family: $ibm-mono;
            line-height: $mb-main-line-height;
            font-size: $mb-main-font-size;
            color: $font-color;
        }
    }
}

@media all and (min-width: $pc-size-min){
    .sec-nosotros{
        display: flex;
        align-items: center;
        margin-top: -100px;
        @media all and (min-width: 1280px){
            margin-top: 0px;
        }
        .phone-outer {
            width: 50vw;
            height: 660px;
            .phone-inner {
                @media all and (min-width: 1280px){
                    width: 640px;
                }
                .phone-image {
                    height:  660px;
                    width: auto;
                    margin-left: 100px;
                    @media all and (min-width: 1280px){
                        margin-left: 200px;
                    }
                }
            }
        }
        .dedonde-cont {
            margin-left: 0px;
            margin-top: 0px;
            .sec-dedonde {
                margin-left: 0px;
                font-size: $pc-subheader-font-size;
                line-height: $pc-subheader-line-height;
                margin-bottom: 24px;
            }
            .dedonde-text {
                margin-left: 0px;
                height: 204px;
                width: 464px;
                line-height: $pc-main-line-height;
                font-size: $pc-main-font-size;
            }
        }
    }
}

.invitados-cont {
    display: block;
    .sec-invitados {
        margin-top: 54px;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 14px;
        font-size: $mb-header-font-size;
        font-family: $ibm-sans;
        line-height: $mb-header-line-height;
        color: $font-color;
    }
    .img-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        div {
            img {
                width: 100%;
                max-width: 360px;
                height: auto;
            }
        }
    }
}

@media all and (min-width: $pc-size-min){
    .invitados-cont {
        .sec-invitados {
            margin-left: 100px;
            @media all and (min-width: 1280px){
                margin-left: 200px;
            }
            margin-bottom: 36px;
            font-size: $pc-subheader-font-size;
            line-height: $pc-subheader-line-height;
        }
        .img-container {
            div {
                img {
                    max-width: 480px;
                }
            }
        }
    }
}

.temas-cont{
    display: block;
    margin-bottom: 42px;
    .temas-tit {
        margin-top: 54px;
        margin-left: 5vw;
        margin-right: 5vw;
        @media all and (min-width: 600px){ //breakpoint for tablets
            text-align: center;
        }
        font-size: $mb-header-font-size;
        font-family: $ibm-sans;
        line-height: $mb-header-line-height;
        color: $font-color;
    }
    .iconos {
        .icon-container {
            width: 100vw;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            .icon{
                width: 104px;
                height: 104px;
                align-self: center;
                margin-bottom: 13px;
            }
            #t-remoto{
                margin-top: 37px;
            }
            #programacion{
                margin-top: 49px;
            }
            #codigo{
                margin-top: 65px;
            }
            #seguridad{
                margin-top: 65px;
            }
            p {
                margin-left: 5vw;
                margin-right: 5vw;
                font-size: $subheader-font-size;
                font-family: $ibm-sans;
                font-weight: 600;
                line-height: 32px;
                color: $font-color;
                text-align: center;
            }
        }
    }
    
}

@media all and (min-width: $pc-size-min){
    .temas-cont{
        margin-bottom: 34px;
        .temas-tit {
            margin-top: 64px;
            margin-left: 100px;
            margin-bottom: 56px;
            @media all and (min-width: 1280px){ 
                margin-left: 200px;
            }
            text-align: left;
            font-size: $pc-subheader-font-size;
            line-height: $pc-subheader-line-height;
        }
        .iconos{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: flex-start;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 100px;
            margin-right: 100px;
            @media all and (min-width: 1280px){ 
                margin-left: 200px;
                margin-right: 200px;
            }
            .icon-container {
                width: 260px;
                .icon{
                    margin-right: 0px;
                    margin-left: 0px;
                    margin-bottom: 29px;
                }
                /* OVERWRITE MOBILE MARGINS */
                #t-remoto{
                    margin-top: 0px;
                }
                #programacion{
                    margin-top: 0px;
                }
                #codigo{
                    margin-top: 0px;
                }
                #seguridad{
                    margin-top: 0px;
                }

                p {
                    width: 220px;
                    margin: 0px;
                    font-size: $subheader-font-size;
                }
            }
        }
    }
}

.novedades-cont {
    width: 100vw;
    min-height: 341px;
    @media all and (min-width: 600px){ //breakpoint for tablets
        min-height: 280px;
    }
    display: block;
    position: relative;
    text-align: center;
    background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    .triangle {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8.75vw 100vw 0 0;
        border-color: white transparent transparent transparent;
    }
    #sec-novedades {
        display: inline-block;
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 64px;
        @media all and (min-width: 600px){ //breakpoint for tablets
            margin-left: 20vw;
            margin-right: 20vw;
            width: 60vw;
            margin-top: 80px;
        }
        color: white;
        font-family: $ibm-sans;
        line-height: $mb-header-line-height;
        font-size: $mb-header-font-size;
    }
    .button-escucha {
        margin-left: 5vw;
        margin-right: 5vw;
        height: 48px;
        width: 90vw;
        @media all and (min-width: 600px){ //breakpoint for tablets
            margin-left: 20vw;
            margin-right: 20vw;
            width: 60vw;
        }
        margin-top: 36px;
        
        text-transform: uppercase;
        background-color: #00F3BB;
        font-family: $ibm-mono;
        font-weight: 500;
        font-size: $mb-button-font-size;
        line-height: 48px;
        cursor: pointer;   
    }
}

@media all and (min-width: $pc-size-min){
    .novedades-cont {
        min-height: 518px;
        #sec-novedades {
            width: auto;
            margin-left: auto;
            margin-right: auto;
            margin-top: 213px;
            line-height: $pc-subheader-line-height;
            font-size: $pc-subheader-font-size;
        }
        .button-escucha {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 56px;
            width: 345px;
            font-size: $pc-button-font-size;
            line-height: 56px;
            &:hover {
                background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
            } 
        }
    }
}

footer {
    margin-top: 24px;
    .copyright {
        font-size: $mb-main-font-size;
        color: $font-color;
        line-height: $mb-main-line-height;
        font-family: $ibm-mono;
        text-align: center;
    }
    .media-symbols {
        margin-top: 16px;
        margin-bottom: 31px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        font-family: FontAwesome;
        font-size: 16px;
        line-height: 28px;
        a{
            text-decoration: none;
            color: $font-color;
            cursor: pointer;
        }
        .spotify {
            &::after{
                content: "\f1bc";
            }
        }
        .instagram {
            &::after{
                content: "\f16d";
            }
        }
        .twitter {
            &::after{
                content: "\f099";
            }
        }
        .facebook {
            &::after{
                content: "\f09a";
            }
        }
        .telegram {
            &::after{
                content: "\f2c6";
            }
        }   
    }
}


@media all and (min-width: $pc-size-min){
    footer {
        width: 100vw;
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
        .copyright {
            float: left;
            font-size: $pc-main-font-size;
            line-height: $pc-main-line-height;
            margin-left: 100px;
            margin-top: 36px;
            margin-bottom: 31px;
        }
        .media-symbols {
            float: right;
            margin-top: 36px;
            margin-bottom: 31px;
            margin-right: 100px;
            font-size: 18px;
            line-height: 28px;
            .spotify {
                margin-right: 36px;
            }
            .instagram {
                margin-right: 36px;
            }
            .twitter {
                margin-right: 36px;
            }
            .facebook {
                margin-right: 36px;
            } 
        }
    }    
}
